/* Font */
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700,400);
body
{
    background: #E9E9E9 url("bg.png") left top repeat;
    color: black;
	font-family: 'Roboto Slab', serif;
    font-weight: 400;
	padding: 0;
	margin: 0;
	overflow-y: scroll; /* to make sure the layout is consistent */
    overflow-x: hidden;
}
html, body 
{
    height: 99.9%; /* stupid firefox? */
}
#wrap
{
    min-height: 100%;
}
/* Links */
a:link, a:visited
{
    color: #3E3E3E;
}
a:hover
{
    color: #FF0000;
}
/* Other global overrides */
ul
{
	padding-left: 25px;
	padding-right: 5px;
	margin-bottom: 5px;
	margin-top: 0;
	text-align: left;
}
li
{
	padding-bottom: 3px;
}
.bold
{
	font-weight: bold;
}
p
{
	margin: 0px;
}
/* Header related style */
#header
{
	position: fixed;
	top: 0;
	left: 0;
	padding: 5px;
	width: auto;
	height: auto;
    font-size: 7em;
    font-weight: 700;
}
#header p:first-child
{
    margin: 0;
	line-height: 80%;
    
}
#header p:last-child
{
	line-height: 100%;
    float: right;
    font-size: .25em;
}
/* Positioning the game board */
#main
{
	width: 60%;
    min-width: 600px;
	margin: 0 auto;
    overflow: hidden;
}
/* The blank spaces for letters */
#word-container
{
    width: 90%;
	height: auto;
	clear: both;
	padding-top: 5%;
    margin: 0 auto;
	margin-bottom: 5px;
	overflow: hidden;
	font-family: Tahoma, Geneva, sans-serif;
}
#word-container div:first-child
{
	margin-left: 0;
}
.holder
{
    width: 19.2%;
	float: left;
	height: .9em;
    margin-left: 1%;
	overflow: hidden;
	line-height: 90%;
    text-align: center;
    color: black;
	background-repeat: no-repeat;
	border-bottom: 5px solid black;
    font-size: 5em;
}
/* The actual game board */
#game-container
{
	display: block;
	width: 95%;
    clear: both;
    padding: 5px;
	margin: 0 auto 100px auto;
	text-align: center;
	background-color: #8F6A45;
	color: black;
	border-radius: 5px;
    font-size: 3em;
}
/* All game type containers */
.game-window
{
	width: 100%;
    height: 0;
    padding: 0;
    margin: 0;
    text-align: center;
	background-color: #E0D6CD;
	border-radius: 5px;
}
.hidden-game
{
    display: none;
}
/* All game wrappers */
.game-wrapper
{
	width: 90%;
	margin: 0 auto;
}
/* The new game container */
#new-game
{
    padding-top: 3%;
	padding-bottom: 3%;
    height: auto;
}
#mode-select
{
	margin-bottom: 10px;
    font-weight: 700;
	font-size: 1.1em;
}
.new-game-buttons
{
	width: 35%;
	background-color: #8F6A45;
	color: white;
	padding: 5%;
    margin: 1% 0.5% 1% 0.5%;
	border-radius: 3px;
    display: inline-block;
    position: relative;
}
.new-game-buttons p
{
    margin-bottom: 5px;
}
/* MultiGame styles */
.first-guess
{
	font-size: .7em; /* TODO */
}
#type-word-p
{
    margin-bottom: 10px;
}
.small-notice
{
    margin-top: 2px;
    font-size: .6em; /*  TODO */
}
#multi-setup-wrapper input
{
    padding-bottom: 0;
    margin-bottom: 0;
}
/* Easy (practice) game */
#easy-game-wrapper
{
    width: 100%;
}
.easy-word-col
{
    float: left;
    text-align: center;
	width: 12%;
	padding-right: 1%;
    padding-left: 6%;
}
.easy-word-col:nth-last-child(1)
{
	padding-right: 0;
}
/* Colors for clicking */
.green, .yellow, .orange, .red
{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    letter-spacing: 1px;
}
.green
{
    color: green;
}
.yellow
{
    color: #FFFF33;
}
.orange
{
    color: orange;
}
.red
{
    color: red;
}
/* Time trial */
#time-game
{
    position: relative;
}
.timer
{
    position: absolute;
    bottom: 0;
    left: 8px;
    display: inherit;
    font-size: .8em;
}
/* Word columns */
.word-row
{
	text-align: left;
	clear: both;
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
    overflow: hidden;
    height: 1.3em;
}
.word-col
{
	float: left;
	width: 6%;
	text-align: center;
	margin-right: 8%;
}
.reponse, .word-col, .word-row /* just to help with double clicking highlighting... */
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.word-col:nth-last-child(3)
{
	margin-right: 0;
}
.response
{
	font-size: .6em;
	float: right;
	width: 18%;
	padding-left: 1%;
	position: relative;
	top: .5em;
	text-align: center;
}
#rlwp, #rlrp
{
	top: 0;
}
/* Input for guesses */
.bottom-guess-inputs
{
    position: relative;
    line-height: 0;
}
.bottom-guess-inputs input
{
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: .4em;
    max-width: 50%;
}
.first-guess
{
    line-height: 85%;
    margin-bottom: 15px;
}
/* Popup buttons */
.center
{
    text-align: center;
}
.popup-button
{
    cursor: pointer;
    background-color: #9A7958;
    padding: 3%;
    display: inline-block;
    border-radius: 5px;
    width: 40%;
}
.popup-title
{
    margin-top: 0px;
    margin-bottom: 20px;
}
.popup-message
{
    margin-bottom: 20px;
}
.popup-button:last-child
{
    margin-left: 2%;
}
.one
{
    margin-left: 0 !important;
    width: 90%;
}
.popup-tweet
{
    background-color: #E0D6CD;
    border-radius: 5px;
    width: 90%;
    padding: 2%;
    margin: 15px auto;
    color: black;
    line-height: 150%;
}
/* Draggable jQuery UI CSS */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-draggable-handle {
	-ms-touch-action: none;
	touch-action: none;
}
/* Container that explains the game */
#how-to-container
{
	width: 95%;
	margin: -85px auto 0 auto;
	padding: 1%;
    font-size: 1.1em;
	text-align: left;
	font-family: Tahoma, Geneva, sans-serif;
	padding-bottom: 75px;
    color: #3E3E3E;
}
#how-to-container h2, h4
{
	text-align: center;
	margin: 10px;
	margin-top: 0;
}
/* Footer */
#footer 
{
    position: relative;
	margin-top: -22px; /* negative value of footer height */
	height: 22px;
	padding-left: 5px;
	clear:both;
	font-family: Tahoma, Geneva, sans-serif;
}
@media screen and (max-width: 1125px)
{
    #header
	{
		padding-top: 10px;
		margin-bottom: 0;
		text-align: center;
        position: static;
	}
    #header p:last-child
    {
        float: none;
    }
}
@media screen and (max-width: 610px)
{
    html
    {
        font-size: 70%;
    }
	#main
	{
		width: 100%;
        min-width: 100%;
		padding: 0;
		margin: 0 auto;
	}
    #word-container
    {
        padding-top: 5px;
    }
    #time-bottom-guess-inputs
    {
        margin-bottom: 15px;
    }
    #new-game
    {
        padding-bottom: 20px;
    }
	.new-game-buttons
	{
		width: 60%;
        font-size: .85em;
	}
    #how-to-container
    {
        font-size: 1.2em;
    }
}
@media screen and (max-width: 300px)
{
    html
    {
        font-size: 70%;
    }
	#footer
	{
		height: 18px;
		margin-top: -18px;
	}
}
@media screen and (max-width: 250px)
{
    html
    {
        font-size: 50%;
    }
	#footer
	{
		height: 18px;
		margin-top: -18px;
	}
    div.popup
    {
        font-size: 1.2em;
    }
}
/* Javascript actualHeight CSS helper */
.temp-show{position:absolute !important; visibility:hidden !important; display:block !important;}

/* Font scaling */
@media screen and (min-width: 610px)
{
    html
    {
        font-size: 70%;
    }
    #how-to-container
    {
        font-size: 1.3em;
    }
}
@media screen and (min-width: 1125px)
{
    html
    {
        font-size: 80%;
    }
    #how-to-container
    {
        font-size: 1.2em;
    }
}
@media screen and (min-width: 1300px)
{
    html
    {
        font-size: 90%;
    }
    #how-to-container
    {
        font-size: 1em;
    }
}
@media screen and (min-width: 1440px)
{
    html
    {
        font-size: 100%;
    }
}
@media screen and (min-width: 1650px)
{
    html
    {
        font-size: 115%;
    }
}
@media screen and (min-width: 1920px)
{
    html
    {
        font-size: 130%;
    }
}
@media screen and (min-width: 2300px)
{
    html
    {
        font-size: 180%;
    }
}
@media screen and (min-width: 3000px)
{
    html
    {
        font-size: 200%;
    }
}
/* Popup CSS */
.popup_back {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}
.popup_cont {
	position: fixed;
	z-index: 102;
}
.preloader {
	z-index: 101;
}
.popup_close {
	color: #888;
	cursor: pointer;
	position: absolute;
	padding: 5px;
	right: 5px;
	top: 0;
}
.popup_close:hover {
	color: #111;
}
.popup_back {
	cursor: pointer;
	background-color: #222;
}
div.popup {
	background: #8F6A45;
    color: white;
	padding: 25px;
	box-shadow: 0 3px 10px #222;
    line-height: 1.3em;
}
.preloader {
	left: 50%;
	margin: -10px 0 0 -25px;
	position: fixed;
	top: 50%;
}